{% extends "base.html" %}

{% block content %}
<section class="auth-container">
    <div class="auth-card glass">
        <div class="auth-header">
            <h1>Create Account</h1>
            <p>Join ProQuizX and track your performance.</p>
        </div>

        <form method="POST" class="form" onsubmit="return validateRegister()">
            <label>Username</label>
            <input type="text" name="username" id="regUsername" placeholder="Choose username">

            <label>Email</label>
            <input type="email" name="email" id="regEmail" placeholder="Enter email">

            <label>Password</label>
            <input type="password" name="password" id="regPassword" placeholder="Minimum 6 characters">

            <button class="primary-btn" type="submit">Sign Up</button>
        </form>

        <div class="auth-links">
            <span>Already have an account?</span>
            <a href="{{ url_for('main.login') }}">Login</a>
        </div>
    </div>
</section>
{% endblock %}
